.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    margin-inline: 15rem;
    padding-top: 3rem;
}

@media(max-width: 1028px){
    .wrapper{
        margin-inline: 2rem;
    }
}

main {
    flex-grow: 1;
}